@model Concesoft.Models.VehiculoModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehiculoModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDisponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPuertas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPuertas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAuto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehiculoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
