@model Concesoft.Models.DetalleFacturaModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tipo</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(
               model => model.TipoArticulo,
               htmlAttributes: new { @class = "form-control", @onchange = "CambioTipoArticulo(this.value)" })
            </div>
        </div>

        <div class="form-group" id="VehiculoDiv">
            @Html.LabelFor(model => model.VehiculoId, "Vehículo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VehiculoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VehiculoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="RepuestoAccesorioDiv" style="display: none">
            @Html.LabelFor(model => model.RepuestoAccesorioId, "Repuesto o accesorio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RepuestoAccesorioId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RepuestoAccesorioId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(
        linkText: "Volver a la factura",
        actionName: "Edit",
        controllerName: "Factura",
        routeValues: new
        {
            id = ViewBag.FacturaId
        },
        htmlAttributes: null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
