@model Concesoft.Models.DetalleCotizacionModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleCotizacionModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepuestoAccesorioModels.NombreArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepuestoAccesorioModels.NombreArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehiculoModels.NombreVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehiculoModels.NombreVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CotizacionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CotizacionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
